$headerbox-size: 4em;
$topbox-theme: #6ed0fa;
$primary-color: #e7e7e7;
$secondary-color: #efefef;
$experience-left-distance: 25%;
$post-left-distance: 5%;
$contact-left-distance: 2%;
$mark-color:#ffff00;
$base-font: Arial;
