@import "/src/css/reset.css";
@import "utilities.scss";
@import "constants.scss";

.topboxMenu {
    display: inline-block;
    width: 45%;
    height: $headerbox-size;
    background-color: $topbox-theme;
    vertical-align:top;
}

.topboxMenu__topTitle {
    color: white;
    text-align: right;
    font-family: $base-font;
    margin: 0.16em;
}

.navigationbox {
    display: inline-block;
    width: 55%;
    text-align: left;
    background-color: $topbox-theme;
}

.navigationbox__link {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 1em 2em;
    vertical-align: middle;
    background-color: $topbox-theme;
    display: inline-block;
    height: $headerbox-size;
    &:hover {
        background-color: #b9b9b9;
    }
}

.aboutbox  {
    @include clearfix;
    background-color: $primary-color;
}

.aboutbox__figure {
    float: left;
    img {
     height: 18em;
     width: 16em;
   }
}

.aboutbox__titleHeader {
    text-align: center;
    h1 {
        display: inline-block;
    }
}

.experiencebox {
    h3 {
        display: inline-block;
    }
    vertical-align: middle;
    text-align:left;
    width: 75%;
    position: relative;
    left: $experience-left-distance;
}

.experiencebox__sectionStyle {
    background-color: $secondary-color;
}

.skillsbox {
    float: right;
    position: relative;
    width: 40%;
    @include clearfix;
}

.skillsbox__content {
    border: 1px solid black;
    padding: 1em 1em;
}

.skillsbox__caption {
    display: inline-block;
    position: absolute;
    top: -1.5em;
    left: 1em;
    background-color: white;
}

.educationbox {
    @include clearfix;
    position: relative;
    left: $experience-left-distance;
    width: 30%;
}

.meter {
    width: 80%;
}

.postsbox {
    background-color: $primary-color;
}

.postPosition {
    position: relative;
    left: $post-left-distance;
}

.postsbox__iframe {
    width: 31em;
    height: 25em;
}

.postsbox__jobaddress {
    background-color: $mark-color;
}

.eventsbox {
    background-color: $secondary-color;
}

.eventsbox__table {
    width: 40%;
    border: 1px solid black;
    margin: auto;
}

.eventsbox__title {
    text-align: center;
}

.contactbox {
    background-color: $secondary-color;
}

.contactbox__adress {
    position: relative;
    left: $contact-left-distance;
}
