@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

* {
    &,
    &::before,
    &::after {
        box-sizing: border-box; // [1]
    }
}

body {
    margin: 0;
}
