@import url(/src/css/reset.css);
/* line 10, ../sass/utilities.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 17, ../sass/utilities.scss */
body {
  margin: 0;
}

/* line 5, ../sass/main.scss */
.topboxMenu {
  display: inline-block;
  width: 45%;
  height: 4em;
  background-color: #6ed0fa;
  vertical-align: top;
}

/* line 13, ../sass/main.scss */
.topboxMenu__topTitle {
  color: white;
  text-align: right;
  font-family: Arial;
  margin: 0.1em;
}

/* line 20, ../sass/main.scss */
.navigationbox {
  display: inline-block;
  width: 55%;
  text-align: left;
  background-color: #6ed0fa;
}

/* line 27, ../sass/main.scss */
.navigationbox__link {
  color: white;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  vertical-align: middle;
  background-color: #6ed0fa;
  display: inline-block;
  height: 4em;
}
/* line 36, ../sass/main.scss */
.navigationbox__link:hover {
  background-color: #b9b9b9;
}

/* line 41, ../sass/main.scss */
.aboutbox {
  background-color: #e7e7e7;
}
/* line 2, ../sass/utilities.scss */
.aboutbox::after {
  content: '';
  display: table;
  clear: both;
}

/* line 46, ../sass/main.scss */
.aboutbox__figure {
  float: left;
}
/* line 48, ../sass/main.scss */
.aboutbox__figure img {
  height: 18em;
  width: 16em;
}

/* line 54, ../sass/main.scss */
.aboutbox__titleHeader {
  text-align: center;
}
/* line 56, ../sass/main.scss */
.aboutbox__titleHeader h1 {
  display: inline-block;
}

/* line 61, ../sass/main.scss */
.experiencebox {
  vertical-align: middle;
  text-align: left;
  width: 75%;
  position: relative;
  left: 25%;
}
/* line 62, ../sass/main.scss */
.experiencebox h3 {
  display: inline-block;
}

/* line 72, ../sass/main.scss */
.experiencebox__sectionStyle {
  background-color: #efefef;
}

/* line 76, ../sass/main.scss */
.skillsbox {
  float: right;
  position: relative;
  width: 40%;
}
/* line 2, ../sass/utilities.scss */
.skillsbox::after {
  content: '';
  display: table;
  clear: both;
}

/* line 83, ../sass/main.scss */
.skillsbox__content {
  border: 1px solid black;
  padding: 1em 1em;
}

/* line 88, ../sass/main.scss */
.skillsbox__caption {
  display: inline-block;
  position: absolute;
  top: -1.5em;
  left: 1em;
  background-color: white;
}

/* line 96, ../sass/main.scss */
.educationbox {
  position: relative;
  left: 25%;
  width: 30%;
}
/* line 2, ../sass/utilities.scss */
.educationbox::after {
  content: '';
  display: table;
  clear: both;
}

/* line 103, ../sass/main.scss */
.meter {
  width: 80%;
}

/* line 107, ../sass/main.scss */
.postsbox {
  background-color: #e7e7e7;
}

/* line 111, ../sass/main.scss */
.postPosition {
  position: relative;
  left: 5%;
}

/* line 116, ../sass/main.scss */
.postsbox__iframe {
  width: 31em;
  height: 25em;
}

/* line 121, ../sass/main.scss */
.postsbox__jobaddress {
  background-color: #ffff00;
}

/* line 125, ../sass/main.scss */
.eventsbox {
  background-color: #efefef;
}

/* line 129, ../sass/main.scss */
.eventsbox__table {
  width: 40%;
  border: 1px solid black;
  margin: auto;
}

/* line 135, ../sass/main.scss */
.eventsbox__title {
  text-align: center;
}

/* line 139, ../sass/main.scss */
.contactbox {
  background-color: #efefef;
}

/* line 143, ../sass/main.scss */
.contactbox__adress {
  position: relative;
  left: 2%;
}
