* {
     box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    background: grey;
}

.header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-color: #888888;
    padding: 20px;
    margin: 0 auto;
}

.header__nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction:column;
    align-items: center;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    list-style: none;
}

.header__logo {
    background-color: red;
    width: 200px;
    height: 100px;
    margin: 0;
    text-align: center;
}

.header__nav li {
    margin: 12px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.contactbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    margin: 0 auto;
}

.contactbox__nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction:column-reverse;
    align-items: center;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.contactbox li {
    margin: 12px;
}

.contactbox__copyright {
    color: #fff;
}

.formbox {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.formbox__article {
    width: 600px;
    padding: 20% 0;
    border: 1px solid black;
    background-color: white;
}

.formbox__elem {
    display: block;
    margin: 24px auto;
    width: 200px;
}

.formbox__content {
    background-color: white;
}

@media all and (min-width: 700px) {
    .header {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .header__nav {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex: none;
        flex: none;
    }
    .contactbox {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .contactbox__nav {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex: none;
        flex: none;
    }
}



